.type-739 {
  box-sizing: border-box;
  background-position: center center;
  background-size: cover;
  padding-top: 30px;
  font-family: sans-serif;
}
.type-739 .block-main-product {
  border-bottom: 1px solid #aba6a6;
  padding-bottom: 17px;
  margin-left: 17px;
}
.type-739 .block-main-product a:hover {
  color: #fcb800;
}
.type-739 .block-main-product .title {
  display: inline-block;
  font-size: 2.4rem;
  float: left;
  margin-right: 50px;
}
.type-739 .swiper-pagination-bullet:hover {
  background-color: #717171;
}
.type-739 .promo-v1 {
  display: inline-block;
  margin-top: 8px;
}
.type-739 .promo-v1 .promo-count {
  display: inline-block;
  background-color: #f14705;
  padding: 2px 10px;
  color: #fff;
  border-radius: 2px;
  vertical-align: middle;
}
.type-739 .promo-v1 .promo-count>div {
  position: relative;
  display: inline-block;
  padding: 0 2px;
}
.type-739 .view-all {
  float: right;
}
.type-739 .view-all a {
  color: #000;
}
.type-739 .block-main-product a {
  float: left;
  text-decoration: none;
  color: #000;
}
.type-739 .block-product {
  float: right;
}
.type-739 .block-product a {
  padding: 0 20px;
  text-decoration: none;
  color: #000;
}
.type-739 .banner {
  overflow: hidden;
}
.type-739 .banner .info h1 {
  color: #fff;
}
.type-739 .banner .info p {
  color: #fff;
}
.type-739 .banner .swiper-slide {
  padding: 0px 0px;
  overflow: hidden;
}
.type-739 .banner .swiper-slide .block {
  transition: transform 0.9s ease;
  background-color: #fff;
  margin-top: 90px;
  position: relative;
}
.type-739 .banner .swiper-slide .block .image {
  transition: transform 0.9s ease;
  width: 100%;
  position: relative;
}
.type-739 .banner .swiper-slide .block .image img {
  bottom: 0;
  height: auto;
  left: 0;
  margin: auto;
  max-width: 100%;
  right: 0;
  top: 0;
  width: 100%;
}
.type-739 .banner .swiper-slide .block .image .sale {
  position: absolute;
  background: #f14705;
  font-size: 14px;
  top: 0;
  right: 19px;
  padding: 2px 5px;
  color: #fff;
  z-index: 10;
}
.type-739 .banner .swiper-slide .block .product-btn {
  position: absolute;
  top: 70%;
  right: 27px;
  z-index: 1;
  width: 100%;
  padding: 10px 0;
  background-color: #fff;
  opacity: 0;
  visibility: hidden;
  margin-bottom: -20px;
}
.type-739 .banner .swiper-slide .block .product-btn .product-list {
  font-size: 1.3em;
}
.type-739 .banner .swiper-slide .block .product-btn .product-list a i {
  padding: 10px;
  color: black;
}
.type-739 .banner .swiper-slide .block .product-btn .product-list a:hover {
  display: inline-block;
  background: #fcb800;
  border-radius: 50%;
}
.type-739 .banner .swiper-slide .block .product-item1 {
  font-size: 1.4rem;
  display: block;
  font-weight: 400;
  float: left;
}
.type-739 .banner .swiper-slide .block .product-item1 a {
  color: #06c;
}
.type-739 .banner .swiper-slide .block .product-item1 a:hover {
  color: #fcb800;
  text-decoration: none;
}
.type-739 .banner .swiper-slide .block .so1 {
  margin: 0 21px 10px;
  float: left;
}
.type-739 .banner .swiper-slide .block .far-item p {
  margin: 0 0 10px;
  float: left;
  color: #fcb800;
}
.type-739 .banner .swiper-slide .block .price {
  float: left;
  font-size: 1.8rem;
  white-space: nowrap;
}
.type-739 .banner .swiper-slide .block .price .price-items {
  color: #690;
}
.type-739 .banner .swiper-slide .block .price .price-item {
  font-size: 1.4rem;
  color: #999;
  text-decoration: line-through;
}
.type-739 .banner .swiper-slide .block:hover .product-btn {
  opacity: 1;
  visibility: visible;
  -webkit-transition: visibility .25s ease, opacity .25s ease, margin .25s ease;
}
.type-739 .banner .swiper-button-next {
  margin-right: 6px;
  width: 40px;
  height: 20px;
}
.type-739 .banner .swiper-button-prev {
  left: 0;
  width: 40px;
  height: 20px;
}
.type-739 .banner .swipper-btn {
  bottom: 201px;
  color: #222;
  text-align: center;
  position: relative;
}
.type-739 .banner .swipper-btn>div:hover {
  width: 40px;
  height: 40px;
}
.type-739 #rating {
  border: none;
  float: left;
  position: relative;
  margin-left: 31px;
}
.type-739 #rating>input {
  display: none;
}
.type-739 #rating>label:before {
  margin: 5px;
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}
.type-739 #rating>.half:before {
  content: "\f089";
  position: absolute;
}
.type-739 #rating>label {
  color: #ddd;
  float: right;
}
.type-739 #rating>input:checked~label,
.type-739 #rating:not(:checked)>label:hover,
.type-739 #rating:not(:checked)>label:hover~label {
  color: #FFD700;
}
.type-739 #rating>input:checked+label:hover,
.type-739 #rating>input:checked~label:hover,
.type-739 #rating>label:hover~input:checked~label,
.type-739 #rating>input:checked~label:hover~label {
  color: #FFED85;
}
